body {
  font-family: 'Muli', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #2B2E33;
}



/* link as button */
.btn {   
  background-color: #24272b;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
  align-self: center;
  text-decoration: none !important;
  text-align: center;
  font-weight: 700;
  display: block;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.btn:focus {
  color: orange;
  background-image: linear-gradient(45deg, orange 50%, transparent 50%);
  outline: 0;
  border-bottom: 2px solid orange;
}

.btn:hover, .btn:active {
  color: white;
  outline: 0;
}

.wave {
  line-height: 50px;
  height: 50px;
  width: 250px;
  border-color: orange;
  color: orange;
  background-image: linear-gradient(45deg, orange 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.wave:hover {
  background-position: 0;
}