main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
}

.feed-box {
    padding: 0;
    margin: 0;
}

.feed-box-item {
    display: flex;
    width: 700px;
    margin-bottom: 100px;
}

.feed-box-item:last-child {
    margin-bottom: 50;
}

.feed-box-item img {
    height: 300px;
}

.feed-box-item-desc{
    width: 100%;
    padding: 0px 50px 0px 50px;
    color: white;
}

.atBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed-box-item-desc h1 {
    padding-top: 0;
    margin-top: 0;
}

aside {
    background-color: #24272b;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    min-height: 70px;
    overflow:auto
}

aside h3 {
    margin-top: 0;
}

aside a div {
    color: white;
    padding-bottom: 7px;
}