main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-start;
}

.feed-box {
    padding: 0;
    margin: 0;
}

.feed-box-item {
    display: flex;
    width: 700px;
    margin-bottom: 100px;
}

.feed-box-item:last-child {
    margin-bottom: 50;
}

.feed-box-item img {
    height: 300px;
}

.feed-box-item-desc{
    width: 100%;
    padding: 0px 50px 0px 50px;
    color: white;
}

.atBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feed-box-item-desc h1 {
    padding-top: 0;
    margin-top: 0;
}

aside{ 
    width: 260px;
}

.aside-block {
    background-color: #24272b;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    color: white;
    min-height: 70px;
    margin-bottom: 20px;
}

.feed-box h3, .aside-block h3 {
    margin-top: 0;
    font-weight: lighter;
}

.aside-block a div {
    color: white;
    padding-bottom: 7px;
}

.aside-block a div:hover {
    color: orange;
}


@media (max-width: 1000px) {
    main {
        width: 90%;
        display: block;
        margin: 25px 5% auto 5%;
    }

    aside {
        width: 100%;
    }

    .aside-block {
        width: 90%;
    }

    .feed-box-item {
        width: 100%;
        margin-bottom: 75px;
    }

    .feed-box-item-desc h1 {
        margin-top: 15px;
    }
}

@media (max-width: 600px) {
    .feed-box-item {
        display: block;
    }

    .feed-box-item-desc {
        padding: 0;
    }
}